.inside_container {
    margin-top: 10px;
}

.hero-body {
    padding-left: 0;
    padding-right: 0;
}

.columns {
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.modal-card {
    min-width: 90%;
}

webview {
    height: 85vh;
}