<div class="container is-flex is-fluid">
  <aside class="menu">
    <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a>Dashboard</a></li>
      <li><a>Customers</a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li><a>Team Settings</a></li>
      <li>
        <a class="has-background-primary has-text-white	">Manage Your Team</a>
        <ul>
          <li><a>Members</a></li>
          <li><a>Plugins</a></li>
          <li><a>Add a member</a></li>
        </ul>
      </li>
      <li><a>Invitations</a></li>
      <li><a>Cloud Storage Environment Settings</a></li>
      <li><a>Authentication</a></li>
    </ul>
    <p class="menu-label">
      Transactions
    </p>
    <ul class="menu-list">
      <li><a>Payments</a></li>
      <li><a>Transfers</a></li>
      <li><a>Balance</a></li>
    </ul>
  </aside>
  <main class="has-background-primary">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quibusdam dolore velit iusto cumque nam quaerat
    numquam quam, ab ullam temporibus vel illum rerum ad consequuntur nulla eveniet modi? Aperiam cumque enim id, ea a
    esse iure optio porro similique natus in earum eos accusamus? Voluptatum, repellat! Deleniti debitis ab labore est
    sint, blanditiis nostrum doloribus incidunt quaerat quae itaque saepe. Delectus unde laboriosam illo beatae
    voluptates molestias, dicta non. Est consequatur voluptatem ducimus aperiam voluptas deleniti quidem, unde eligendi,
    animi repellendus commodi voluptatum natus perspiciatis ratione similique molestiae. Saepe, fugiat nobis quidem
    explicabo architecto animi distinctio esse quo maiores in quos possimus molestiae necessitatibus deserunt! Non
    laborum, modi unde deserunt consectetur minima cupiditate est ipsa culpa deleniti quisquam. Animi impedit mollitia
    iusto dolorem incidunt nemo! Amet harum, sapiente cum architecto officia ipsa dolores. Eligendi ad excepturi iusto
    natus, beatae vitae ducimus doloribus reprehenderit eaque eveniet sunt totam ipsam tenetur deleniti vero
    consequuntur quo! Mollitia, id. Aperiam repudiandae sit ipsa placeat est unde consectetur maiores quis nisi ducimus,
    sunt expedita ut, praesentium facilis! Esse omnis ad numquam culpa quaerat et minus enim consequatur veniam fugit,
    hic adipisci explicabo, ratione illo? Labore alias libero sint, suscipit veritatis sequi excepturi quidem. Molestiae
    esse quae eum sequi non mollitia illo quam unde doloremque omnis nobis repellendus nisi natus asperiores,
    perferendis illum quidem animi odit possimus? Odit voluptas porro quod natus? Deleniti ex distinctio dolores odio
    cupiditate adipisci dignissimos. Ad, ipsum molestias dolores accusamus inventore in possimus velit unde sequi
    laudantium enim! Natus recusandae animi ea, amet laudantium rem, maiores, quas quae voluptatem hic optio at incidunt
    perspiciatis neque! Maiores harum ducimus, dignissimos voluptas error vero cumque debitis ratione accusantium autem
    suscipit inventore itaque! Aliquid sequi natus fugit dolorum maiores quis! Quidem sapiente explicabo nemo iure
    necessitatibus laborum suscipit asperiores, reiciendis cupiditate quod, doloribus sed pariatur odio provident sequi
    sit! Expedita dolor itaque, quae numquam alias consectetur, quas excepturi placeat autem minima nam fugiat deserunt
    cupiditate beatae? Laboriosam, nesciunt eligendi ipsum totam molestiae reiciendis, eaque id voluptate sapiente in
    exercitationem eos impedit maiores autem quaerat, cupiditate quisquam expedita facere aut natus adipisci officiis
    placeat? Porro, sed architecto numquam placeat natus assumenda eum reiciendis repellat tempora quibusdam cupiditate
    cumque fugiat laborum atque, minima inventore, accusantium blanditiis quod dolor? Impedit expedita itaque rem
    deleniti exercitationem, quo voluptas eaque quaerat. Tempora corporis harum culpa eligendi quisquam atque expedita a
    consectetur doloremque et libero, odio eius voluptatum quae! Dignissimos, enim. Voluptatibus in cumque possimus
    veritatis quaerat soluta, vel omnis autem, magni enim alias delectus aperiam minima corrupti eaque quasi voluptates
    corporis atque similique optio iusto praesentium tenetur velit voluptatem! Quod, voluptas autem, blanditiis
    accusamus laboriosam ullam nam, et nisi sint itaque optio maiores deleniti aliquid voluptate veniam eveniet illum
    non eaque quisquam veritatis explicabo. Soluta rerum pariatur sequi, maxime debitis totam magni dicta expedita
    laborum hic modi dolor optio accusamus! Sunt incidunt, tempora, ipsam tempore iure nobis at repellendus
    exercitationem, ut id aliquam deleniti mollitia a aperiam magni aut. Aut, debitis. Sit aliquid quod id, aspernatur
    commodi iusto unde totam vitae et consequuntur expedita similique quisquam sed quidem consectetur vel in cupiditate
    inventore soluta. Nemo, odit. Officiis odio sapiente ipsa dolorem suscipit? Fuga, ex excepturi odio facilis placeat
    vitae veniam? Asperiores temporibus, nostrum itaque nisi exercitationem ducimus quae quos molestiae, eos beatae non,
    rem ea. Recusandae distinctio quis aperiam atque totam. Necessitatibus voluptatibus nulla dolores quisquam culpa!
    Nulla facilis id accusamus porro doloremque reprehenderit voluptatum alias fuga quisquam? Quisquam ad beatae
    inventore! Laboriosam quas quidem cumque quia temporibus distinctio reprehenderit molestias at assumenda vitae quos,
    quis, consectetur impedit magni minima cum molestiae, voluptatum architecto ad iusto neque. Sit debitis dolore iure
    nihil modi in molestias enim ab qui sapiente officia voluptatem quos accusantium consectetur repudiandae quis,
    reiciendis fuga, sed consequuntur. Iure, modi omnis. Quod, eos! Quam neque nisi fugiat amet labore vitae
    exercitationem, iste, officia mollitia blanditiis nulla? Illum repellendus nam, similique nesciunt quis ex natus,
    est voluptate autem atque, debitis incidunt! Ullam animi, unde soluta eos obcaecati omnis voluptatum error
    assumenda, temporibus mollitia impedit laborum aspernatur dicta ipsa saepe officia velit nam explicabo deleniti sed
    nihil ipsum ipsam. Voluptates voluptatum distinctio vel illum, vero repellendus laborum minima debitis sapiente
    officiis placeat velit aut quidem ducimus repellat est similique recusandae odit accusantium! Excepturi molestiae
    nulla odio id tenetur eligendi modi fuga accusamus quaerat animi nisi magnam deleniti, consequatur in ad officia non
    aliquam amet magni voluptatibus at blanditiis! Asperiores provident in cumque laboriosam quod tenetur deleniti,
    corporis magnam qui molestias rerum placeat voluptate dicta enim. Natus, ab error nobis ad, vitae est exercitationem
    similique sed at mollitia repudiandae quasi explicabo sit cumque quam minima dolor! Amet repudiandae rerum dolor
    blanditiis odit incidunt voluptate. Quisquam nihil laborum porro vero ratione, iste natus nesciunt nemo, modi ipsum,
    sit possimus neque aspernatur qui aut perspiciatis mollitia in nulla? Expedita nihil dolorem distinctio, doloribus
    quibusdam iusto! Quo nobis eligendi officia? Molestiae numquam non in laudantium totam a error beatae, porro quidem,
    natus ab deleniti neque sequi, earum expedita officia culpa ipsum vero fuga. Distinctio fuga dicta soluta amet
    laborum rem eligendi velit sunt sapiente, fugit aperiam. Eius voluptates odit voluptate molestias quaerat ab vero at
    officiis consequuntur? Voluptatibus, minus consequatur assumenda amet incidunt quod, numquam labore sit in corrupti
    natus perspiciatis nisi molestiae modi delectus possimus excepturi nesciunt! Cupiditate atque dolore repellat
    repellendus consequuntur possimus tenetur itaque laudantium nisi voluptatibus inventore, eos culpa iure,
    repudiandae, numquam ad architecto qui similique? Perspiciatis, eos. Adipisci eligendi asperiores suscipit
    consectetur animi excepturi veritatis qui quasi cupiditate veniam neque reprehenderit quam dicta aspernatur nemo
    nihil ut deleniti, natus fugiat blanditiis ratione? Veniam commodi dignissimos similique quasi dicta necessitatibus
    placeat quae alias rem voluptatem provident nobis nihil quaerat natus obcaecati, eligendi ea? Fuga sunt corrupti
    quisquam distinctio nobis nostrum ut nesciunt dolorem, omnis possimus eveniet quod unde ea, enim, maiores
    blanditiis? Aspernatur ex odio ullam iusto a expedita voluptatibus perferendis ad nobis repellendus officiis
    exercitationem quos blanditiis quisquam sequi repellat modi enim labore illum, culpa distinctio sapiente nisi.
    Officiis mollitia id facilis animi reprehenderit similique porro totam!
  </main>
</div>