<section class="hero inside_container">
    <div class="hero-body">
        <p class="title">
            Konfiguracja
        </p>
        <p class="subtitle">
            Sekcja pozwala na konfiguracje aplikacji względem własnych preferencji
        </p>
    </div>
</section>
<section class="inside_container" *ngIf="!loading">
    <div class="columns">
        <div class="column is-12">
            <div class="box">
                <h5 class="title is-5">Ilość wyświetlanych elementów na jednej stronie w liscie newsów (1-10): </h5>
                <input (change)="changeProperties()" [(ngModel)]="properties.newsLimit" class="input is-success"
                    type="number">
            </div>

            <div class="box">
                <h5 class="title is-5">Ilośc elementów wyświetlanych grupowa w sekcji zapisanych newsów (1-10)
                </h5>
                <h6 class="subtitle is-6">Wartość odpowiada rownież liczbie renderowanych elementów po naciśnięciu
                    przycisku - Wyświetl więcej.</h6>
                <input (change)="changeProperties()" [(ngModel)]="properties.numberOfDisplayedSavedNews"
                    class="input is-success" type="number">
            </div>
        </div>
    </div>
</section>