.inside_container {
    margin-top: 10px;
}

.hero-body {
    padding-left: 0;
    padding-right: 0;
}

.columns {
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.media-content {
    display: flex;
    justify-content: space-between;
}

.notification {
    width: 100%;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}   