<section class="hero is-success inside_container">
    <div class="hero-body">
        <p class="title">
            Zapisane newsy
        </p>
        <p class="subtitle">
            Sekcja wyświetla wszystkie zapisane przez Ciebie newsy, masz do nich stały dostęp
        </p>
    </div>
</section>
<section class="inside_container">
    <h5 class="title is-5 has-text-white">Lista zapisanych newsów: </h5>
</section>
<section class="inside_container">
    <div class="columns">
        <div class="column">
            <div class="box">
                <div class="columns">
                    <ng-container *ngIf="($savedNews | async)?.length > 0; else noData">
                        <ng-container *ngFor="let news of ($savedNews | async); let i = index;">

                            <div class="column is-12" *ngIf="i < numberOfDisplayedSavedNews">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <img src="{{news.image_url}}">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">{{news.title}}</p>
                                                <button class="button is-success flex is-light is-align-items-flex-end"
                                                    (click)="openModal(news)">Więcej</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="button_container">
                            <button class="button is-success"
                                *ngIf="($savedNews | async)?.length > numberOfDisplayedSavedNews"
                                (click)="displayMore()">
                                Wyswietl więcej
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #noData>
                        <div class="notification is-warning">
                            Nie posiadasz żadnego w liście zapisanych newsów! Aby dodać przejdz do sekcji - Lista
                            newsów.
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="isModalActive">
    <!-- Warunkowe renderowanie modalu w przypadku wybrania Newsa -->
    <app-news-details [news]="newsInModal" [clearModal]="clearModal.bind(this)">
    </app-news-details>
</div>